{
  "tabWidth": 2,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "always",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [
        "astro.config.ts",
        "tailwind.config.cjs",
        "src/**/*.astro",
        "src/**/*.tsx",
        "src/**/*.ts"
      ],
      "options": {
        "singleQuote": true,
        "jsxSingleQuote": true,
        "useTabs": false,
        "semi": false,
        "trailingComma": "none",
        "singleAttributePerLine": false,
        "htmlWhitespaceSensitivity": "css",
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "quoteProps": "as-needed",
        "bracketSameLine": false,
        "printWidth": 75
      }
    }
  ]
}
